@import "styles/variables.scss";

.asking_wrapper {
  max-width: $max-width;
  margin: auto;
  width: $section-width;

  padding: 60px 0;

  &_container {
    display: flex;
    justify-content: space-between;
    gap: 60px;

    .icon_two {
      height: max-content;
    }

    .icon_three {
      height: max-content;
    }

    .card {
      border-bottom: 1px solid #e7e7e7;
      padding-bottom: 24px;

      .header {
        display: flex;
        justify-content: space-between;
        align-items: start;

        .title {
          flex: 0.65;
          color: $neutral-600;
          font-size: $fs-base;
          line-height: $lh-base;
          font-weight: $fw-semibold;
          cursor: pointer;
        }

        .expand {
          background: $neutral-50;
          border-radius: 100%;
          padding: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }

      .content {
        margin-top: 16px;
        color: $neutral-600;
        font-size: $fs-sm;
        line-height: $lh-sm;
        font-weight: $fw-regular;
      }
    }
  }
}

@media screen and (max-width: $big-tablet) {
  .asking_wrapper {
    &_container {
      .card {
        .header {
          .title {
            flex: 0.9;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .asking_wrapper {
    &_container {
      gap: 30px;
    }
  }
}

@media screen and (max-width: $mobile) {
  .asking_wrapper {
    &_container {
      gap: 0;
      .icon_two {
        display: none;
      }

      .icon_three {
        display: none;
      }

      .card {
        .header {
          .title {
            flex: 1;
          }
        }
      }
    }
  }
}
