@import "styles/variables.scss";

.competition_wrapper {
  margin-top: 140px;

  &_container {
    overflow: hidden;
    max-width: $max-width;
    margin: auto;
    width: $section-width;
    background-image: url("../../../public/images/challenge-bg.png");
    background-repeat: no-repeat;
    background-size: 80% 100%;
    background-position: top right;

    padding: 140px 80px 100px 0px;
    display: flex;
    gap: 80px;

    position: relative;

    .right_content {
      flex: 1;

      &_container {
        margin-top: 64px;

        .step {
          border-bottom: 0.5px solid $primary-50;

          padding: 20px 0;
          display: flex;
          align-items: flex-start;

          gap: 22px;
          color: $neutral-100;
          font-size: $fs-lg;
          line-height: $lh-lg;
          font-weight: $fw-regular;

          &:last-child {
            border: none;
            padding-top: 20px;
          }

          &:first-child {
            padding-bottom: 20px;
          }

          .number {
            border: 1px solid $primary-50;
            color: $main-color;
            padding: 8px 14px;
            border-radius: 100%;
          }

          .highlight_white {
            color: $neutral-50;
          }

          .highlight_orange {
            color: $orange;
          }
        }
      }
    }

    .left_content {
      flex: 0.7;
      padding-top: 70px;

      .img_container {
        position: relative;
        .logo {
          position: absolute;
          bottom: 0;
          right: 12px;
        }
      }
    }

    .banner_img {
      position: absolute;
      top: 0;
      right: 0;
    }

    .banner {
      position: absolute;
      top: 70px;
      right: 25px;
      transform: skew(-40deg, 31deg) translateX(0px);

      font-weight: $fw-bold;
      font-size: $fs-xl;
      line-height: $lh-xl;
    }
  }
}

@media screen and (max-width: $big-tablet) {
  .competition_wrapper {
    margin-top: 100px;

    &_container {
      padding: 140px 80px 80px 0px;

      .left_content {
        flex: 0.8;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .competition_wrapper {
    &_container {
      background-size: cover;
      gap: 0;
      padding: 100px 80px 60px 80px;

      .right_content {
        flex: 1;
        &_container {
          margin-top: 34px;
        }
      }

      .left_content {
        display: none;
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .competition_wrapper {
    &_container {
      padding: 120px 30px 40px 30px;

      .banner_img {
        top: -70px;
      }

      .banner {
        top: 40px;
        right: 10px;
        font-size: $fs-xs;
        line-height: $lh-xs;
      }
    }
  }
}

@media screen and (max-width: $small-mobile) {
  .competition_wrapper {
    &_container {
      .right_content {
        &_container {
          .step {
            font-size: $fs-sm;
            line-height: $lh-sm;

            .number {
              padding: 6px 12px;
            }
          }
        }
      }
    }
  }
}
