@import "styles/variables.scss";

.difference_wrapper {
  background: #f6faff;

  &_container {
    max-width: $max-width;
    margin: auto;
    width: $section-width;

    padding: 80px 0;

    .title {
      padding: 8px 24px;
      border-radius: 24px;
      color: $neutral-600;
      font-size: $fs-lg;
      line-height: $lh-lg;
      font-weight: $fw-bold;

      &_one {
        background: #dee5ff;
      }

      &_two {
        background: $primary-100;
      }
    }

    .content {
      text-align: center;
      color: $neutral-600;
      font-size: $fs-base;
      line-height: $lh-base;
      font-weight: $fw-semibold;

      padding-top: 1rem;
    }
  }
}

@media screen and (max-width: $mobile) {
  .difference_wrapper {
    &_container {
      .content {
        padding-top: 0;
      }
    }
  }
}
